blosc2==3.11.1
certifi==2025.11.12
charset-normalizer==3.4.4
idna==3.11
msgpack==1.1.2
ndindex==1.10.1
numexpr==2.14.1
numpy==2.3.5
packaging==25.0
platformdirs==4.5.0
py-cpuinfo==9.0.0
requests==2.32.5
tables==3.10.2
typing_extensions==4.15.0
urllib3==2.5.0
